/* Importing font */
@import url(https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css);
@import url(https://gistcdn.githack.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css);
@import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(https://e0.pxfuel.com/wallpapers/434/478/desktop-wallpaper-site-site-anime-background-pemandangan-anime.jpg);
    background-size: cover;
    overflow: hidden;
}


/* Navitation pannel */
nav {
    width: 100%;
    padding: 2vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2vw;
}

nav ul a {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -.2px;
}

nav ul li:nth-child(2) a {
    font-weight: 700;
}

nav ul li:nth-child(2) a::after {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 0;
    height: 1px;
    width: 100%;
    background: #000;
    transition: left .5s ease-in-out;
}

.sound {
    position: relative;
    cursor: pointer;
}

.sound .circle {
    border-radius: 50%;
    height: 7px;
    width: 7px;
    background: white;
}

.sound .border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    border: .01px solid white;
}










.overlay {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.blur {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.blur.white {
    background-color: rgba(255, 255, 255, 0.4);
    clip-path: polygon(63% 0, 0 0, 0 100%, 33% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vw;
    padding: 0 9vw;
    padding-top: 2vw;
}

.blur.selmon {
    background-color: #db4e5ea4;
    clip-path: polygon(63% 0, 100% 0%, 100% 100%, 33% 100%);
}


/* Left Container */
.blur.white h1 {
    position: relative;
    font-family: "Kalnia", serif;
    font-weight: 450;
    font-size: 7.5vw;
    line-height: 8vw;
}

.blur.white h1 span {
    position: absolute;
    top: -5vw;
    left: -1.5vw;
    font-size: 2vw;
    font-family: inherit;
}

.blur.white .trailer-btn {
    display: flex;
    align-items: center;
    gap: 2.5vw;
}

.trailer-btn button {
    width: fit-content;
    padding: 10px 14px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 0 10px white;
    cursor: pointer;
    text-transform: uppercase;
}

.trailer-btn p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.blur.white button i {
    font-size: 18px;
}




.blur.selmon {
    padding-left: 62vw;
    padding-top: 11vw;
    display: flex;
    gap: 2vw;
    flex-direction: column;
    justify-content: center;
}

.blur.selmon p {
    width: 50%;
    color: black;
    font-size: 12px;
    line-height: 17px;
    font-weight: 500;
}

.blur.selmon h2 {
    font-size: 12px;
    font-weight: 500;
}

.blur.selmon h2 span {
    font-weight: 700;
    font-size: 14px;
}





.model {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 90%;
}



footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}

footer>div {
    display: flex;
    align-items: center;
    gap: .6vw;
    font-weight: 500;
}

footer svg {
    height: 25px;
    width: 25px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    background-color: #adadad;
    cursor: pointer;
    text-transform: uppercase;
}